body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background: url("https://i.pinimg.com/originals/5b/0a/fb/5b0afbfd74add7a5abcb393a8707d2e3.jpg");
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #24303c;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: orange;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    text-align: center;
    border: solid #1f53c5;
    width: 100%;

}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #cfebe8;
    font-weight: 600;
}
.link:hover{
     color: skyblue;
}
@media(min-width:768px)

{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

a{
    color: skyblue;
   text-decoration: none;
}

.cuenta{
    color: skyblue;
}

.fondo{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    margin-top: 2%;
}

.nuestras{
    color: skyblue;
}




















